body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.nav-items {
  list-style: none;
  margin: 0; 
  padding: 0;
  background: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.nav-items a {
  text-decoration: none;
  display: flex;
  padding: .5em;
  color: white;
  font-size: 1.5rem;
}

.App-header {
  height: 5rem;
  padding-top: 30%;
  color: white;
}

.App-intro {
  font-size: large;
}

.container{
  background-image: url(https://ucarecdn.com/48513cc6-7aac-4451-818c-f04cc42aee28/-/preview/500x800/);
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  object-fit: cover; 
  background-repeat: no-repeat;
}
